.botones {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
}

.input_P {
    background-color: salmon;
    border: none;
    padding: 10px;
    border-radius: 7px;
    font-size: 1.6rem;
    cursor: pointer;
}

.input_P:hover {
    background-color: #ff5858;
}

