td, input {
    border: 1px solid black;
    text-align: center;
    width: 50px;
    height: 50px;
    padding: 0;
}

input {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0;
    box-sizing: border-box;
    font-size: 2em;
    outline: none;
}

button {
    width: fit-content;
    height: 50px;
    font-size: 2em;
    border: 1px red solid;
    background-color: transparent;
    cursor: pointer;
}

button:hover {
    background-color: red;
    color: white;
}

#c_1_1, #c_1_4, #c_1_7,
#c_4_1, #c_4_4, #c_4_7,
#c_7_1, #c_7_4, #c_7_7 {
    border-top-color: red;
    border-bottom-color: rgb(120, 120, 120);
    border-left-color: red;
    border-right-color: rgb(120, 120, 120);
}

#c_1_3, #c_1_6, #c_1_9,
#c_4_3, #c_4_6, #c_4_9,
#c_7_3, #c_7_6, #c_7_9 {
    border-top-color: red;
    border-bottom-color: rgb(120, 120, 120);
    border-left-color: rgb(120, 120, 120);
    border-right-color: red;
}

#c_3_1, #c_3_4, #c_3_7,
#c_6_1, #c_6_4, #c_6_7,
#c_9_1, #c_9_4, #c_9_7 {
    border-top-color: rgb(120, 120, 120);
    border-bottom-color: red;
    border-left-color: red;
    border-right-color: rgb(120, 120, 120);
}

#c_3_3, #c_3_6, #c_3_9,
#c_6_3, #c_6_6, #c_6_9,
#c_9_3, #c_9_6, #c_9_9 {
    border-top-color: rgb(120, 120, 120);
    border-bottom-color: red;
    border-left-color: rgb(120, 120, 120);
    border-right-color: red;
}

#c_2_2, #c_2_5, #c_2_8,
#c_5_2, #c_5_5, #c_5_8,
#c_8_2, #c_8_5, #c_8_8 {
    border-color: rgb(120, 120, 120);
}

#c_1_2, #c_1_5, #c_1_8,
#c_4_2, #c_4_5, #c_4_8,
#c_7_2, #c_7_5, #c_7_8 {
    border-top-color: red;
    border-bottom-color: rgb(120, 120, 120);
    border-left-color: rgb(120, 120, 120);
    border-right-color: rgb(120, 120, 120);
}

#c_3_2, #c_3_5, #c_3_8,
#c_6_2, #c_6_5, #c_6_8,
#c_9_2, #c_9_5, #c_9_8 {
    border-top-color: rgb(120, 120, 120);
    border-bottom-color: red;
    border-left-color: rgb(120, 120, 120);
    border-right-color: rgb(120, 120, 120);
}

#c_2_1, #c_2_4, #c_2_7,
#c_5_1, #c_5_4, #c_5_7,
#c_8_1, #c_8_4, #c_8_7 {
    border-top-color: rgb(120, 120, 120);
    border-bottom-color: rgb(120, 120, 120);
    border-left-color: red;
    border-right-color: rgb(120, 120, 120);
}

#c_2_3, #c_2_6, #c_2_9,
#c_5_3, #c_5_6, #c_5_9,
#c_8_3, #c_8_6, #c_8_9 {
    border-top-color: rgb(120, 120, 120);
    border-bottom-color: rgb(120, 120, 120);
    border-left-color: rgb(120, 120, 120);
    border-right-color: red;
}