<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sudoku solver</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <input type="password" style="display: none" id="htmltable" value="{{htmltable}}">
    <table>
        <tbody id="tablacontenedora"></tbody>
    </table>
    <br>
    
    <button id="solve">Solve</button>
    <button id="clear">Clear</button>
    <button id="generate">Generate</button>
    <script src="/static/jquery-3.6.1.min.js"></script>
    <script src="/static/tools.js"></script>
    <script src="/static/Solver.js"></script>
</body>

</html>